[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stuzocub
[access "refs/for/refs/*"]
	read = group user/stuzocub
	push = group user/stuzocub
	label-Code-Review = -2..+2 group user/stuzocub
	label-Verified = -1..+1 group user/stuzocub
	rebase = group user/stuzocub
	removeReviewer = group user/stuzocub
	submit = group user/stuzocub
[access "refs/heads/*"]
	read = group user/stuzocub
	create = group user/stuzocub
	push = +force group user/stuzocub
	pushMerge = group user/stuzocub
[access "refs/tags/*"]
	push = +force group user/stuzocub
	pushTag = group user/stuzocub
	pushSignedTag = group user/stuzocub
